html, body {

}

.main-container {
    //background-color: #f7ffa6;
}

.workplace-window {
    &__content {
        margin-top: 20px;


    }
}

.settings-window {
    border-left: solid #cacaca 1px;

    &__title {
        font-weight: bolder;
    }

    &__config {
        padding: 0 15px;
    }
}

.field__conf__addbtn {
    width: 100%;
}