<div class="field field-card container-fluid">
    <span class="field-card__remove-icon glyphicon glyphicon-remove"></span>
    <div class="row">
        <div class="col-lg-12">
            <div id="__field_table__"></div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div id="__field_label__"></div>
        </div>
    </div>
</div>