
<table class="report-table table table-bordered">
    {{#each iterations}}
        <tr>
            <td>w<sub>{{@index}}</sub></td>
            <td><div id="graph-weights-w{{@index}}" class="graph"></div></td>
        </tr>
    {{/each}}
</table>

